nameOverride: fluentd

# useStatefulSet: true

output:
  host: '{{ .Values | getOrNil "fluentd.host" | default "elasticsearch.example.com" }}'
  port: '{{ .Values | getOrNil "fluentd.port" | default "9200" }}'
  scheme: '{{ .Values | getOrNil "fluentd.scheme" | default "http" }}'

metrics:
  enabled: true
