nameOverride: prometheus-operator

prometheusOperator:
  createCustomResource: false

prometheus:
  prometheusSpec:
    scrapeInterval: "30s"

grafana:
  enabled: false

# kubeStateMetrics:
#   enabled: false
