nameOverride: prometheus-operator

prometheusOperator:
  createCustomResource: false

grafana:
  enabled: false
  adminPassword: '{{ .Values | getOrNil "grafana.password" | default "password" }}'

# kubeStateMetrics:
#   enabled: false
